<!-- <main class="form-singin w-100 m-auto"> -->
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset class="fieldset">

      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput #email required placeholder="name@example.com" type="email" [(ngModel)]="user.email" name="emailFormControl">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput #password required placeholder="password" type="password" [(ngModel)]="user.password" name="passwordFormControl">
        <mat-icon matSuffix>visibility</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <div class="checkbox my-3">
        <mat-checkbox [(ngModel)]="rememberMe" ngDefaultControl name="checkboxFormControl">Remember me</mat-checkbox>
      </div>

      <button mat-raised-button color="accent" type="submit" [disabled]="!myForm.valid"
        class="mx-3">Login</button>

    </fieldset>
  </form>
<!-- </main> -->

